
* {
    margin:0;

}
body {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
.logo:hover {
    color: black;
    transition: 900ms;
}


header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
nav ul{
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;
}
nav{
    /*position: fixed;*/
    flex-wrap: wrap;
    width: 100%;
    gap: 3rem;
    padding: 10px;
    background-color: gray;
    border-bottom: 1px solid
    
}
section{
    display: flex;
    background-color: bisque;
    margin: 0px;
 
}
article{
    flex: 1;
    display: grid;
    height: 100%;
    border: 1px solid;
}
img{
    width: 100px;
    height: 100px;
}
footer{
    display: flex;
    background-color: aquamarine;
}

footer div {
    flex: 1;
}

