/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Header */
  header {
    background-color: #f1f1f1;
    padding: 10px;
  }
  header > img{
    width: 100%;
    height: 100%;

    }
  
  /* Navigation */
  nav {
    background-color: #333;
    text-align: center;

  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  /* Main */
  main {
    padding: 20px;
  }
  
  /* Promotional section */
  main header {
    text-align: center;
  }
  
  main h1 {
    font-size: 24px;
  }
  
  main button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  main button:hover {
    background-color: #555;
  }
  
  main img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  main p {
    font-size: 16px;
    line-height: 1.5;
  }
  
/* Footer */
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer .logo-section {
    flex-grow: 1;
  }
  
  footer .copyright {
    flex-grow: 1;
    text-align: right;
  }
  
  footer img {
    max-width: 100px;
    height: auto;
  }
  
  footer p {
    font-size: 14px;
    margin-top: 10px;
  }
  
/* Grid layout for the sections */
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .promocion {
    grid-area: 1 / 1 / 1 / span 3;
    text-align: center;
    border: solid black;
  }

  
  
  /* Center the content within the first section */
  main section:first-child section {
    text-align: center;
  }
  
  
  
  
  
  
  
  
  
  
  